html, body {
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

DIV#app {
  margin: 50px;
}

BUTTON.choice {
  width: 75px;
  margin: 15px;
}

DIV#selection {
  text-align: center;
}

DIV#countdown {
  display:none;
  text-align: center;
}

DIV#countdown DIV.count {
  display:none;
  font-size: 54pt;
}

DIV#test {
  display:none;
  text-align: center;
}

DIV.question DIV {
  width: 80px;
  height: 50px;
  margin-right: 20px;
  display: inline-block;
  font-size: 24pt;
}

DIV.answer {
  background-color: #f8f9fa;
  text-align: center;
}

DIV.actions BUTTON {
  width: 75px;
  margin: 15px;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-body {
  margin: 10px;
}

.error-dialog .modal-body {
  background-image: url("/media/images/error.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 200px;
  padding-right: 150px;
}
