html, body {
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

div#app {
  margin-left: 50px;
  margin-right: 50px;
}

BUTTON.choice {
  width: 75px;
  margin: 15px;
}

div#selection {
  text-align: center;
}

div#countdown {
  display:none;
  text-align: center;
}

div#countdown div.count {
  display:none;
  font-size: 54pt;
}

div#test {
  display:none;
  text-align: center;
}

div.question div {
  width: 80px;
  height: 50px;
  margin-right: 20px;
  display: inline-block;
  font-size: 24pt;
}

div.answer {
  background-color: #f8f9fa;
  text-align: center;
}

div.actions BUTTON {
  width: 75px;
  margin: 15px;
}

div#feedback {
  display: none;
  text-align: center;
}

div#feedback div.results {
  font-size: 18pt;
  margin-bottom: 25px;
}

div#feedback div.results SPAN {
  font-weight: bold;
}

div.chart {
  display: inline-block;
  width: 800px;
  text-align: center;
}

div.chart.coverage {
  width: 500px;
}

div.sessions {
  vertical-align: top;
  display: inline-block;
  margin-left: 15px;
}

div.sessions .table {
  width: 358px;
}

div.sessions .table .cell {
  display: inline-block;
  width: 200px;
  margin: 2px;
  padding: 2px;
  background-color: #eee;
}

div.sessions .table .header.cell {
  width: 150px;
  text-align: center;
  background-color: #ccc;
}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* dialog support */

.modal-body {
  margin: 10px;
}

.modal-footer button {
  display: none;
  width: 75px;
}

.error-dialog .modal-body {
  background-image: url("/media/images/error.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 200px;
  padding-right: 150px;
}

.update-dialog .modal-body {
  background-image: url("/media/images/update.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 200px;
  padding-left: 225px;
}

.success-dialog .modal-body {
  background-image: url("/media/images/success.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 200px;
  padding-right: 160px;
}

.failure-dialog .modal-body {
  background-image: url("/media/images/failure.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 200px;
  padding-right: 110px;
}

/* duration timer */

div.form {
  display: inline-block;
  width: 295px;
}

div.form FORM BUTTON {
  margin-right: 25px;
}

div#timer {
  display: none;
  height: 20px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

div#timer div.bar {
  width: 100%;
  height: 20px;
  background-color: #aaaaff;
}
