html, body {
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

DIV#app {
  margin: 50px;
}

BUTTON.choice {
  width: 75px;
  margin: 15px;
}

DIV#selection {
  text-align: center;
}

DIV#countdown {
  display:none;
  text-align: center;
}

DIV#countdown DIV.count {
  display:none;
  font-size: 54pt;
}

DIV#test {
  display:none;
  text-align: center;
}

DIV.question DIV {
  width: 80px;
  height: 50px;
  margin-right: 20px;
  display: inline-block;
  font-size: 24pt;
}

DIV.answer {
  background-color: #f8f9fa;
  text-align: center;
}

DIV.actions BUTTON {
  width: 75px;
  margin: 15px;
}

DIV#feedback {
  display: none;
  text-align: center;
}

DIV#feedback DIV.evolution {
DIV#feedback DIV.results {
  font-size: 18pt;
  margin-bottom: 25px;
}

DIV#feedback DIV.results SPAN {
  font-weight: bold;
}

  display: inline-block;
  width: 700px;
  height: 400px;
  text-align: center;
}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* dialog support */

.modal-body {
  margin: 10px;
}

.modal-footer button {
  display: none;
  width: 75px;
}

.error-dialog .modal-body {
  background-image: url("/media/images/error.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 200px;
  padding-right: 150px;
}

.update-dialog .modal-body {
  background-image: url("/media/images/update.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 200px;
  padding-left: 225px;
}

.success-dialog .modal-body {
  background-image: url("/media/images/success.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 200px;
  padding-right: 160px;
}

.failure-dialog .modal-body {
  background-image: url("/media/images/failure.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 200px;
  padding-right: 110px;
}