{% extends "main.html" %}
{% block content %}
<div id="selection">
  <h1>Kies de tafels die je wilt oefenen...</h1>
  
  <br>
  
  <button type="button" class="btn btn-outline-secondary choice 2" data-toggle="button" aria-pressed="false" autocomplete="off" data-choice="2">2</button>
  <button type="button" class="btn btn-outline-secondary choice 3" data-toggle="button" aria-pressed="false" autocomplete="off" data-choice="3">3</button>
  <button type="button" class="btn btn-outline-secondary choice 4" data-toggle="button" aria-pressed="false" autocomplete="off" data-choice="4">4</button>

  <br>
  
  <button type="button" class="btn btn-outline-secondary choice 5" data-toggle="button" aria-pressed="false" autocomplete="off" data-choice="5">5</button>
  <button type="button" class="btn btn-outline-secondary choice 6" data-toggle="button" aria-pressed="false" autocomplete="off" data-choice="6">6</button>
  <button type="button" class="btn btn-outline-secondary choice 7" data-toggle="button" aria-pressed="false" autocomplete="off" data-choice="7">7</button>

  <br>

  <button type="button" class="btn btn-outline-secondary choice 8" data-toggle="button" aria-pressed="false" autocomplete="off" data-choice="8">8</button>
  <button type="button" class="btn btn-outline-secondary choice 9" data-toggle="button" aria-pressed="false" autocomplete="off" data-choice="9">9</button>
  <button type="button" class="btn btn-outline-secondary choice 10" data-toggle="button" aria-pressed="false" autocomplete="off" data-choice="10">10</button>

  <br><br><br>

  <button type="button" class="btn btn-success start">Start...</button>
</div>

<div id="countdown">
  <div class="count digit 3">3</div>
  <div class="count digit 2">2</div>
  <div class="count digit 1">1</div>
</div>

<div id="test">
  <div class="question">
    <div class="left argument">&nbsp;</div>
    <div class="operator">&nbsp;</div>
    <div class="right argument">&nbsp;</div>
    <div class="equals">=</div>
    <div class="answer">&nbsp;</div>
  </div>

  <div class="actions">
    <button type="button" class="btn btn-outline-secondary digit 1" data-digit="1">1</button>
    <button type="button" class="btn btn-outline-secondary digit 2" data-digit="2">2</button>
    <button type="button" class="btn btn-outline-secondary digit 3" data-digit="3">3</button>

    <br>

    <button type="button" class="btn btn-outline-secondary digit 4" data-digit="4">4</button>
    <button type="button" class="btn btn-outline-secondary digit 5" data-digit="5">5</button>
    <button type="button" class="btn btn-outline-secondary digit 6" data-digit="6">6</button>

    <br>

    <button type="button" class="btn btn-outline-secondary digit 7" data-digit="7">7</button>
    <button type="button" class="btn btn-outline-secondary digit 8" data-digit="8">8</button>
    <button type="button" class="btn btn-outline-secondary digit 9" data-digit="9">9</button>

    <br>

    <button type="button" class="btn btn-warning undo">&lt;</button>
    <button type="button" class="btn btn-outline-secondary digit 0" data-digit="0">0</button>
    <button type="button" class="btn btn-success ok">OK</button>

    <br>

    <button type="button" class="btn btn-danger stop">Stop</button>
  </div>
</div>

<div id="feedback">
  <div class="results">
    Goed geoefend! Je maakte <span class="total"></span> oefeningen en had er <span class="correct"></span> juist!<br>
    Je deed gemiddeld <span class="average"></span> seconden per oefening.<br>
  </div>
  <div class="chart evolution">
    <canvas id="evolution" width="200" height="100"></canvas>
  </div>
  <div class="actions">
    <button type="button" class="btn btn-success ok">OK</button>
  </div>
</div>
{% endblock %}
{% block more_js %}
    <script src="/media/maaltafels.js?{{ version }}"></script>
{% endblock %}
